[class*="col"] {
    background-color: blue;
    min-height: 40px;
    border: 1px solid white;
    color: white;
}

.col-6.nested {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

}

.nest {
    background-color: greenyellow;
}

.container.middle {
    margin-top: 20px;
    margin-bottom: 40px;
}